<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href="index.css" rel="stylesheet" />
    <script src="index.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <title>Licit App</title>
</head>
<body onload="initialize({{matches}})">
    <img src="images/RMCSSZ-4C.png" id="logo-rmcssz">

    {{{body}}}
</body>
</html>