<h1>Találd meg hogy hol fogunk ezután találkozni, válaszolj helyesen a kvízre</h1>
{{#if error}}
    <h3 class="error">{{error.message}}</h3>
{{/if}}
<div id="question-container">
    {{#each message}}
        <h3>{{this}}</h3>
    {{/each}}
</div>

<form action="/answer" method="get">
{{#compare type "==" 1}}
    <input type="number" min="0" max="2020" required name="data"/>
    <input type="number" min="0" max="2020" required name="data"/>
    <input type="number" min="0" max="2020" required name="data"/>
{{/compare}}

{{#compare type "==" 2}}
    <input type="text" name="data" required>
{{/compare}}

{{#compare type "==" 3}}
    <input type="number" min="0" max="999" name="data" required/>
{{/compare}}

<br/>
<button>Beküld</button>
</form>
