body {
    text-align: center;
    background-color: #306529;
}

h1 {
    font-size: xx-large;
}

h3 {
    font-size: x-large;}

input {
    margin: 15px;
    width: 100px;
    height: 45px;
    border-radius: 15px;
    font-size: x-large;
}

button {
    border-radius: 10px;
    background-color: #ffce00;
    color: #306529;
    width:150px;
    height: 50px;
    font-size: larger;
}

.error {
    background-color: red;
    padding: 25px;
    border-radius: 25px;
}

#logo-rmcssz {
    height: 200px;
}
